
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Nuevo Docente", "Insertar", "Docente")
@Html.ActionLink("Nuevo Cordinador", "Insertar", "Coordinador")